/* This is theme style.css put at last of all css */

/* ============= Lucida Grande font ============*/
@font-face {
    font-family: 'lucida_grandebold';
    src: url('../fonts/lucida/lucida_grande_bold-webfont.eot');
    src: url('../fonts/lucida/lucida_grande_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida/lucida_grande_bold-webfont.woff') format('woff'),
         url('../fonts/lucida/lucida_grande_bold-webfont.ttf') format('truetype'),
         url('../fonts/lucida/lucida_grande_bold-webfont.svg#lucida_grandebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6,p{ font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;font-weight: normal;color: rgb(83, 83, 83); }
body{ font-size:12px;font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
h1.logo, h1.logo a, header a.logo{ margin:0; }
a{ color:#DB572F;transition:color 0.2s linear 0s;-webkit-transition:color 0.2s linear 0s;-moz-transition:color 0.2s linear 0s; }
a:hover{ color:rgb(122, 46, 23);transition:color 0.2s linear 0s;-webkit-transition:color 0.2s linear 0s;-moz-transition:color 0.2s linear 0s; }
.button{ background: #90CA77;font-weight: normal;border: 1px solid rgb(148, 189, 130); }
.button:hover{ background: rgba(102, 163, 75, 0.8);border: 1px solid rgba(102, 163, 75, 0.8); }
th.label{ font-weight: normal;background: #DB572F;bottom: -1px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus{ outline: 0; }
table thead tr th, table tfoot tr td{ font-weight: normal; }
.clear{ clear:both; }
/*======================================= Header ===============================*/
.super-header, .site-header, .site-nav, .site-footer{ width: 100%; }
.super-header, .site-header, .site-nav{ background: #EADAA6;transition:all 0.2s linear 0s;-webkit-transition:all 0.2s linear 0s;-moz-transition:all 0.2s linear 0s; }
.site-nav{ background: #DB572F; }
.site-header, .super-header, .site-header a, .super-header a{ color: white; }
.site-header a:hover, .super-header a:hover{ color:rgb(70, 28, 15); }
.super-header{ border:none; }
.site-header{ min-height: 80px; }
.separator{ width: 100%;height: 1px;border-bottom: 1px solid white;position: relative;clear: both; }
.site-identity{ margin: 0 15px; }

.site-language{ padding:0 15px; }
.site-language .sub-nav.flags{ margin-bottom: 0; }
.site-search{ float: right; }
#SearchButton{ border-radius: 21px;padding: 16px;background:#8E381E;box-shadow: none;border: none;transition:background 0.2s linear 0s;-webkit-transition:background 0.2s linear 0s;-moz-transition:background 0.2s linear 0s; }
#SearchButton:hover{ background: rgba(0, 0, 0, 0.5); }
#SearchButton .icon-search{ position: absolute;top: 8px;left: 10px; }

.form-search{ position: relative; }
.search-field-compressed { display: block;border-radius: 20px;float: right;background: white;position: relative;border-top-right-radius: 0px;border-bottom-right-radius: 0px; }
.search-field-compressed input[type="text"]{ background: transparent;border: none;box-shadow: none;outline: none;margin-bottom: 0;padding-left: 35px; }
.search-button{ position: absolute;left:2px; }

/*================== Top Menu ====================*/
.top-bar{ background: transparent; }
.top-bar ul:not(.dropdown){ height: 37px; }
.top-bar ul>li.has-dropdown .dropdown{ height: auto;padding-top: 0; }
.top-bar ul>li.has-dropdown .dropdown{ background: #FBCA3C; }
.top-bar ul>li:not(.name):hover, .top-bar ul>li:not(.name).active, .top-bar ul>li:not(.name):focus, .top-bar ul>li.has-dropdown .dropdown li:hover, .top-bar ul>li.has-dropdown .dropdown li:not(.name):hover, .top-bar ul>li.has-dropdown .dropdown li:not(.name).active, .top-bar ul>li.has-dropdown .dropdown li:not(.name):focus{ background: #DB572F; }
.top-bar ul>li:not(.name):hover a, .top-bar ul>li.has-dropdown .dropdown li a, .site-nav:hover .top-bar ul>li.has-dropdown .dropdown li:hover a{ color:white; }
.top-bar ul>li.has-dropdown .dropdown li a:hover, .top-bar ul>li.has-dropdown .dropdown li{ background: none; }
.top-bar ul>li.has-dropdown .dropdown li{ padding:5px 0; }
.top-bar ul>li a:not(.button){ font-weight: normal;color: white; }
.site-nav:hover .top-bar ul>li a{ color:rgb(70, 28, 15); }
.top-bar ul>li.has-dropdown .dropdown li.first, .top-bar ul>li.has-dropdown .dropdown li.last{ padding: 5px 0; }

.site-account{ margin-top: 13px; }
.site-account .nav-bar, .site-account .nav-bar .has-flyout:hover{ background: #8E381E; }
.site-account .nav-bar .has-flyout{ border:none; }
.site-account .nav-bar .flyout{ background: #FFF;color:#4d4d4d; }
.nav-bar>li.has-flyout>a:first-child{ padding-bottom: 5px; }

/*========================================== Product View =====================*/
.col-right.sidebar{ padding-top: 0; }

.product-view h2, .box-collateral h3{ font-size: 18px; }

.product-shop .add-to-cart button.button{ font-weight: normal; }

#customer-reviews dt h5{ font-size: 16px;border-bottom: 1px dashed rgb(83, 83, 83);padding-bottom: 10px; }
#customer-reviews dt h5 i{ background: #DB572F;color: white;padding: 2px; }

/*===================================== Footer ============================*/
.site-features{ background:rgba(251, 202, 60, 0.74);width: 100%; }
.site-features .single-block{ background: rgba(221, 124, 124, 0.69);border-left: 1px solid #FFF;border-right: 1px solid #FFF;transition:all 0.2s linear 0s;-webkit-transition:all 0.2s linear 0s;-moz-transition:all 0.2s linear 0s; }
.site-features .single-block:hover{ background: rgba(221, 124, 124, 1);transition:all 0.2s linear 0s;-webkit-transition:all 0.2s linear 0s;-moz-transition:all 0.2s linear 0s; }
.site-features .single-block:hover h5{ color:white; }

.site-footer{ background: rgba(35, 36, 36, 0.81);border-top:4px solid rgb(214, 72, 72);color:rgb(223, 223, 223);margin-top: 0; }
.site-footer footer{ background: none;border: none;padding-bottom: 0;margin-bottom: 0; }
h5.footer-block-title{ color:rgb(223, 223, 223);margin-top: 0; }
.site-footer a{ color:rgba(179, 174, 174, 0.84); }
.site-footer a:hover{ color:rgb(223, 223, 223); }

.contacts-footer-content .field{ position: relative; }
.contacts-footer-content .field label{ position: absolute; }
.contacts-footer-content p.required{ margin-bottom: 5px; }

.block-subscribe .input-box{ padding-left:0; }
.block-subscribe .actions{ padding:0; }
.block-subscribe .actions .button{ padding:8px 20px 8px; }

.site-footer .side-nav{ padding-top: 0; }

.sub-nav.social-icons{ margin-top: 10px; }
.social-icons.sub-nav dd a{ font-size: 20px;background: rgba(219, 219, 219, 0.77);padding: 5px;text-align: center;width: 33px;border-radius: 0;display: block;transition:all 0.2s linear 0s;-webkit-transition:all 0.2s linear 0s;-moz-transition:all 0.2s linear 0s; }
.social-icons dd a:hover{ background:#B9B5B5;transition:all 0.2s linear 0s;-webkit-transition:all 0.2s linear 0s;-moz-transition:all 0.2s linear 0s; }

.social-icons.sub-nav dd a.facebook{ color:#3B5998; }
.social-icons.sub-nav dd a.facebook:hover{ background: #3B5998;color:#FFF; } 

.social-icons.sub-nav dd a.twitter{ color:#00acee; }
.social-icons.sub-nav dd a.twitter:hover{ background: #00acee;color:#FFF; }

.social-icons.sub-nav dd a.google{ color:#CF3E2C; }
.social-icons.sub-nav dd a.google:hover{ background: #CF3E2C;color:#FFF; }

.social-icons.sub-nav dd a.github{ color:#222222; }
.social-icons.sub-nav dd a.github:hover{ background: #222222;color:#FFF; }