<?xml version="1.0"?>
<config>
    <modules>
        <Pushkarcreations_Init>
            <version>1.0.0</version>
            <depends>
                <!-- no dependencies -->
            </depends>
        </Pushkarcreations_Init>
    </modules>

    <global>

        <blocks>
            <page>
                <rewrite>
                    <html_topmenu>Pushkarcreations_Init_Block_Topmenu</html_topmenu>
                </rewrite>
            </page>
        </blocks>

        <helpers>
            <inithelper>
                <class>Pushkarcreations_Init_Helper</class>
            </inithelper>
        </helpers>

    </global>

</config>

